# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser

# Swift Package Manager
.swiftpm/
.build/

# Release artifacts
*.dmg
/dmg/

# Misc
./out
